<h2>Inhalt</h2>
<ul>
    <li class="fragment">Allgemeine Informationen</li>
    <li class="fragment">Unterrichtsinhalte (Aufbau, Schädigung, Krankheiten)</li>
    <li class="fragment">Bilingualität</li>
    <li class="fragment">Unterichtsmaterialien</li>
</ul>
