<h2>Quellen</h2>

<div style="font-size: 18px;">
  <ul>
    <li><span>Youtube:</span>
      <ul>
        <li>https://www.youtube.com/watch?v=d8e9NPrb7Mc</li>
        <li>https://www.youtube.com/watch?v=ld373__bv2M</li>
      </ul>
    </li>
    <li><span>Wikipedia:</span>
      <ul>
        <li>https://de.wikipedia.org/wiki/Herz</li>
        <li>https://de.wikipedia.org/wiki/Herzbeutel</li>
      </ul>
    </li>
    <li><span>Weitere Recherchequellen:</span>
      <ul>
        <li>http://www.meine-gesundheit.de/herzerkrankungen</li>
        <li>http://www.netdoktor.de/krankheiten/endokarditis/</li>
        <li>http://www.onmeda.de/krankheiten/herzinfarkt-definition-1686-2.html</li>
      </ul>
    </li>
    <li><span>Bilder:</span>
      <ul>
        <li>http://www.herzschwaeche-info.de/uploads/pics/Herz-Gefaess-Baum__c__psdesign1_Fotolia.com.jpg</li>
        <li>http://www.apotheken-umschau.de/multimedia/29/273/103/6118293521.jpg</li>
        <li>https://samuellutgebuter.files.wordpress.com/2014/03/herzkranzgefaesse.jpg</li>
      </ul>
    </li>
  </ul>
</div>
