<h2>Allgemeine Informationen zum Unterrichtsinhalt</h2>

<ul>
  <li class="fragment">Orientierung am Lehrplan (isb.bayern.de)</li>
  <li class="fragment"><span>Aspekte</span>
    <ul class="fragment">
      <li>Aufbau und Funktionsweise</li>
      <li class="fragment">Herzerkrankungen</li>
    </ul>
  </li>
</ul>
