<h2>Unterichtsmaterialien</h2>

<ul>
  <li class="fragment">Offenes Gespräch mit Slides als roten Faden</li>
  <li class="fragment">Handout als Zusammenfassung mit wichtigsten Vokabeln</li>
  <li class="fragment"><em>(evtl.)</em> Webauftritt für Nachbereitung</li>
</ul>
